body {
    background-image: url("../images/background.jpg");
}

* {
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100px;
}

header img {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

nav {
    width: 26%;
    height: 33px;
    margin: 0 auto;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
}

nav button {
    background-color: #000000;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-right: 1px solid rgb(126, 126, 126);
    outline-style: none;
    padding: 8px 5px;
}

.chosen {
    background-color: #32a852;
}


nav button:last-child {
    border: none;
    padding-right: 0;
}